@font-face {
  font-family: 'hk_gothic';
  src: url("/static/font/hkgothic-black-webfont.woff2") format("woff2"), url("/static/font/hkgothic-black-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'hk_gothic';
  src: url("/static/font/hkgothic-blackitalic-webfont.woff2") format("woff2"), url("/static/font/hkgothic-blackitalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'hk_gothic';
  src: url("/static/font/hkgothic-italic-webfont.woff2") format("woff2"), url("/static/font/hkgothic-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'hk_gothic';
  src: url("/static/font/hkgothic-regular-webfont.woff2") format("woff2"), url("/static/font/hkgothic-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.theme-switcher {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 10px; }
  .theme-switcher span {
    cursor: pointer; }

body {
  font-family: "hk_gothic", sans-serif;
  font-display: swap;
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  color: #0a1a42;
  background-color: #fad5e5;
  cursor: default; }

i.fab,
i.far {
  font-display: block !important; }

a {
  color: #0a1a42;
  text-decoration: none;
  opacity: 1;
  transition: all 0.2s ease; }

a:hover {
  opacity: 0.5; }

p a {
  text-decoration: underline; }

a.selected,
.selected {
  opacity: 0.5; }

img {
  max-width: 100%;
  display: inline-block;
  padding: 0;
  margin: 0; }

hr {
  border: none;
  max-width: 100px;
  height: 2px;
  background-color: #0a1a42;
  overflow: hidden; }

hr.spacer,
hr.spacer-small {
  border: none;
  max-width: 2px;
  height: 70px;
  overflow: hidden;
  margin-bottom: 20px; }

hr.spacer-small {
  height: 30px; }

body.theme-jour {
  background-size: cover; }
  body.theme-jour .video-theme {
    background-color: #fad5e5; }

body.theme-soir,
body.theme-nuit {
  background-size: cover !important; }
  body.theme-soir .video-theme,
  body.theme-nuit .video-theme {
    background-color: #0a1a42 !important; }
  body.theme-soir .nav-home,
  body.theme-nuit .nav-home {
    color: #fad5e5 !important; }
    body.theme-soir .nav-home a,
    body.theme-nuit .nav-home a {
      color: #fad5e5 !important; }
    body.theme-soir .nav-home hr,
    body.theme-nuit .nav-home hr {
      background-color: #fad5e5 !important; }

body.theme-jour video.video-theme {
  background: url("https://res.cloudinary.com/muraker/video/upload/so_0p/v1529577432/electro-alternativ-14/jour.jpg") no-repeat;
  background-size: cover; }

body.theme-soir video.video-theme {
  background: url("https://res.cloudinary.com/muraker/video/upload/so_0p/v1529577428/electro-alternativ-14/soir.jpg") no-repeat !important;
  background-size: cover !important; }

body.theme-nuit video.video-theme {
  background: url("https://res.cloudinary.com/muraker/video/upload/so_0p/v1529577433/electro-alternativ-14/nuit.jpg") no-repeat !important;
  background-size: cover !important; }

video.video-theme {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  background-size: cover;
  user-select: none;
  pointer-events: none; }

.video-theme {
  min-width: 1px;
  min-height: 1px;
  width: auto;
  height: auto;
  opacity: 0;
  filter: blur(3px) !important;
  transition: opacity 0.2s ease-in-out;
  overflow: hidden; }

.video-show {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  opacity: 1 !important; }

.video-hide {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  opacity: 0 !important; }

.redline {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 9999;
  background: url("/static/images/WEB_GIF_RedLine_V3.gif") no-repeat;
  background-size: cover;
  filter: blur(2px);
  user-select: none;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  transition-delay: 2s; }

/*@media all and (max-width: 800px) {
  .redline {
    display: none;
    visibility: hidden;
  }
}*/
.redline-show {
  opacity: 1; }

.redline-hide {
  opacity: 1; }

.embed {
  width: 100%; }
  .embed .embedly-embed {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px; }

.responsive {
  position: relative;
  padding-bottom: 56.2%;
  height: 0;
  margin: 10px 0;
  overflow: hidden; }

.responsive-square-wrapper {
  max-width: 500px;
  margin: auto; }
  .responsive-square-wrapper .responsive-square {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    margin: 0;
    overflow: hidden; }

.responsive iframe,
.responsive-square iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.logo a:hover {
  opacity: 1; }

.logo-home,
.logo {
  position: fixed;
  left: 39px;
  top: 0;
  z-index: 999;
  transition: all 0.2s ease; }

.logo {
  width: 200px; }

.logo-home {
  width: 50vmin;
  max-width: 650px; }

.nav-home {
  text-align: center;
  font-size: 10vmin;
  line-height: 11vmin;
  position: absolute;
  top: 50%;
  left: calc(50% + 20px);
  transform: translate(-50%, -50%); }
  .nav-home ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .nav-home small {
    font-size: 2vmin; }

.info-bar {
  position: fixed;
  left: 40px;
  top: calc(100% - 40px);
  white-space: nowrap;
  height: 40px;
  width: 100vh;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  background-color: #fad5e5;
  overflow: hidden;
  z-index: 9; }
  .info-bar .marquee-baseline {
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    margin: 0; }
    .info-bar .marquee-baseline span {
      margin-left: 200px; }

.links {
  width: 40px;
  font-size: 16px;
  line-height: 20px;
  padding: 40px 0 20px;
  margin: 0;
  background-color: #fad5e5;
  background: linear-gradient(to bottom, rgba(250, 213, 229, 0) 0%, #fad5e5 25%, #fad5e5 100%);
  display: inline-block;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10; }

.pub {
  width: 100%;
  max-width: 300px;
  padding: 0 20px 0 0;
  font-size: 13px;
  line-height: 15px;
  text-align: right;
  position: fixed;
  bottom: -58px;
  right: 0;
  overflow: hidden;
  transition: bottom 0.1s ease; }
  .pub:hover {
    bottom: 0; }
    .pub:hover p {
      margin: 0; }
  .pub a {
    opacity: 1; }
    .pub a:hover {
      opacity: 1; }
    .pub a img {
      padding-top: 20px;
      padding-bottom: 10px;
      height: 40px; }
    .pub a p {
      opacity: inherit;
      padding: 0;
      margin: 20px 0 0 0;
      transition: margin-top 0.2s ease; }
  .pub a.fiplogo img {
    padding-top: 0;
    height: 60px; }

#pubslider {
  width: 100%;
  height: 130px; }
  #pubslider div {
    width: 100%;
    display: inline-block; }

#main {
  max-width: 1280px;
  margin: auto; }

.nav-wrapper,
.content-wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  min-height: 100vh; }

.nav-show {
  opacity: 1 !important;
  margin-left: 0 !important; }

.nav-wrapper {
  position: fixed;
  width: 200px;
  padding-left: 40px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  transition-delay: 0.2s; }
  .nav-wrapper nav {
    flex: 1 6 20%;
    order: 1;
    position: sticky;
    padding: 60px 20px; }
    .nav-wrapper nav ul {
      list-style: none;
      padding-left: 0; }

.content-wrapper {
  position: relative;
  width: calc(100% - 240px);
  left: 240px; }
  .content-wrapper content {
    flex: 3 1 60%;
    order: 2;
    padding: 20px;
    margin: 100px 0;
    text-align: center; }
    .content-wrapper content p {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto; }
    .content-wrapper content ul {
      list-style: none;
      padding-left: 0; }
    .content-wrapper content .content-first {
      margin-bottom: 20px; }
    .content-wrapper content .content-first,
    .content-wrapper content .content-first-left {
      max-width: calc(100% - 240px); }
    .content-wrapper content .content-first-left {
      text-align: left;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto; }
    .content-wrapper content .content-first-block {
      display: flex;
      flex-flow: row;
      align-items: center; }
      .content-wrapper content .content-first-block .block-left {
        width: calc(100% - 240px);
        min-height: 100%; }
        .content-wrapper content .content-first-block .block-left img {
          max-width: 100%; }
      .content-wrapper content .content-first-block .block-right {
        text-align: left;
        padding: 20px; }

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 260px;
  margin-bottom: 120px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; }
  @media all and (max-width: 1120px) {
    .gallery-wrapper {
      padding: 0 20px 0 260px; } }
  @media all and (max-width: 800px) {
    .gallery-wrapper {
      padding: 0 0 0 40px; } }
  .gallery-wrapper .gallery-item {
    margin: 0;
    display: inline-block;
    width: 25%; }
    @media all and (max-width: 1400px) {
      .gallery-wrapper .gallery-item {
        width: 33%; } }
    @media all and (max-width: 800px) {
      .gallery-wrapper .gallery-item {
        width: 50%; } }
    @media all and (max-width: 500px) {
      .gallery-wrapper .gallery-item {
        width: 100%; } }
    .gallery-wrapper .gallery-item a {
      display: grid; }
    .gallery-wrapper .gallery-item img {
      width: 100% !important;
      height: auto !important; }
    .gallery-wrapper .gallery-item figcaption {
      display: none; }

.pswp__bg {
  background-color: #fad5e5; }

iframe#mylist-player {
  display: inline-block;
  position: fixed;
  width: calc(100% - 510px);
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  overflow: hidden;
  border: none;
  outline: none;
  background-color: transparent; }

@media all and (max-width: 800px) {
  iframe#mylist-player {
    width: calc(100% - 80px); } }

.flex-vid {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto; }
  .flex-vid .mlvp-container {
    padding-bottom: 50%;
    padding-top: 61px; }
  .flex-vid .mlvp-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0; }

.partenaires-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto; }
  .partenaires-wrapper .partenaires-item {
    display: inline-grid;
    margin: 3% 2%; }

.element-list a {
  display: inline-block;
  margin-bottom: 10px; }

.event-show {
  position: fixed;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  width: 200px;
  text-align: center; }
  .event-show a {
    cursor: pointer; }

.event-block {
  display: block;
  width: calc(100% - 40px);
  overflow: hidden;
  margin: auto;
  margin-bottom: 10px;
  transform: scale(1);
  transition: transform 0.2s ease; }
  .event-block .event-block-top {
    padding: 0px 20px 10px; }
  .event-block .event-block-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px 0px; }
    .event-block .event-block-bottom .event-left,
    .event-block .event-block-bottom .event-center,
    .event-block .event-block-bottom .event-right {
      flex-grow: 1;
      width: 30%; }
    .event-block .event-block-bottom .event-left {
      text-align: left;
      font-size: 13px;
      line-height: 15px; }
    .event-block .event-block-bottom .intitule {
      font-weight: normal;
      font-size: 13px;
      line-height: 15px; }
    .event-block .event-block-bottom .intitule-style {
      font-style: italic; }
    .event-block .event-block-bottom .event-center {
      font-weight: bold; }
    .event-block .event-block-bottom .event-right {
      text-align: right;
      font-style: italic;
      font-size: 13px;
      line-height: 15px; }

.event-relation-name,
.event-lieux-name {
  text-decoration: underline; }

.artist-label-link a {
  text-decoration: underline; }

.artist-link,
.lieux-link {
  font-size: 13px;
  line-height: 15px;
  font-style: italic; }

address {
  font-size: 13px;
  line-height: 15px;
  font-style: normal;
  max-width: 200px; }
  address i {
    padding-bottom: 10px; }

address.venue p:first-of-type {
  margin-top: 0; }

.event-link {
  font-style: italic; }

.paginator {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  font-size: 13px;
  line-height: 15px; }
  .paginator .page-prev,
  .paginator .page-next,
  .paginator .page-back {
    flex-grow: 1;
    padding: 0 20px; }
  .paginator .page-back {
    width: 20%; }
  .paginator .page-prev {
    width: 40%;
    text-align: left; }
  .paginator .page-next {
    width: 40%;
    text-align: right; }

.barba-container img,
.barba-container iframe {
  background-color: #0a1a42; }

.barba-container .partenaires-wrapper img,
.barba-container .partenaires-wrapper iframe {
  background-color: transparent; }

@media all and (min-width: 801px) {
  .nav-toggle {
    display: none;
    visibility: hidden; } }

.screen {
  display: initial;
  visibility: visible; }

.mobile {
  display: none;
  visibility: hidden; }

@media all and (max-width: 800px) {
  .screen {
    display: none;
    visibility: hidden; }
  .mobile {
    display: initial;
    visibility: visible; }
  .theme-switcher {
    display: none;
    visibility: hidden; }
  .logo,
  .logo-home {
    width: 60% !important;
    max-width: 200px !important; }
  .nav-wrapper {
    display: inline-block;
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 120%;
    line-height: 120%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #0a1a42 !important;
    margin: 0;
    padding: 0;
    user-select: none;
    pointer-events: none;
    opacity: 0 !important;
    transition: opacity 0.1s linear; }
    .nav-wrapper nav {
      flex: none;
      margin-left: auto;
      margin-right: auto;
      padding: 120px 20px 120px 40px; }
    .nav-wrapper a {
      color: #fad5e5 !important; }
  .nav-mob-open {
    opacity: 1 !important;
    user-select: inherit;
    pointer-events: auto; }
  .event-block {
    padding-left: 0;
    padding-right: 0;
    width: 100%; }
    .event-block .event-block-top {
      display: inline-block;
      width: 100%;
      padding-left: 0;
      padding-right: 0; }
    .event-block .event-block-bottom {
      padding-left: 0;
      padding-right: 0;
      display: inline-block; }
      .event-block .event-block-bottom .event-left,
      .event-block .event-block-bottom .event-center,
      .event-block .event-block-bottom .event-right {
        width: 100%; }
  .paginator .page-prev,
  .paginator .page-next {
    display: none;
    visibility: hidden; } }

.nav-toggle {
  position: fixed;
  top: -1px;
  right: -1px;
  overflow: hidden;
  text-align: center;
  background-color: #fad5e5;
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  z-index: 9; }

@media all and (max-width: 1120px) {
  .content-wrapper content .content-first {
    width: 100%;
    max-width: 100%; } }

@media all and (max-width: 800px) {
  .content-wrapper {
    position: relative;
    width: calc(100% - 40px);
    left: 40px; }
    .content-wrapper content .content-first {
      width: 100%;
      max-width: 100%; }
    .content-wrapper content .content-first-block {
      display: block; }
      .content-wrapper content .content-first-block .block-left,
      .content-wrapper content .content-first-block .block-right {
        width: 100%;
        text-align: center;
        padding: 20px 0; }
        .content-wrapper content .content-first-block .block-left address,
        .content-wrapper content .content-first-block .block-right address {
          margin: auto; }
  .event-show {
    display: none;
    visibility: hidden; } }

.main-carousel {
  overflow: hidden; }
  .main-carousel img {
    margin: 10px 0 0 0;
    padding: 0; }

.flickity-viewport {
  transition: height 0.2s; }

.carousel-cell {
  width: 100%; }

/* no circle */
.flickity-button,
.flickity-button:hover {
  background: transparent; }

.flickity-button:hover {
  opacity: 0.5; }

/* big previous & next buttons */
.flickity-prev-next-button {
  width: 40px;
  height: 40px; }

/* icon color */
.flickity-button-icon {
  fill: #fad5e5; }

/* hide disabled button */
.flickity-button:disabled {
  display: none; }

.simple-slider {
  width: 100%;
  padding-bottom: 66%; }

.simple-slider img {
  width: 100%; }

.simple-wrapper {
  width: 100%;
  max-width: 600px;
  margin: auto;
  max-height: 395px;
  overflow: hidden; }
